/* VARIABLES */
:root { 
	--blanco: #EAEAEA;
    --hueso: #D1D1D1;
    --gris: #9B9B9B;
	--plomo: #5B5B5B;
    --negro: #303030;

    --azul: #7CA5F6;
    --morado: #646CDE;
    --celeste: #64ADDE;
}

/* ------------------------------------------------------------------------------------ MOBILE ------------------------------------------------------------------------------------ */
* {
    font-family: 'Signika', sans-serif;
}

body {
    background-color: var(--negro);
    color: var(--blanco);
    padding: 0 5%;
    font-size: 19px;
}

.labs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.lab {
    display: block;
    width: 315px;
    box-shadow: 0 0 10px 5px #222;
    padding: 10px;
    margin-bottom: 25px;
}

h1 {
    color: var(--morado);
    text-align: center;
    font-size: 2em;
}

h2 {
    color: var(--azul);
    margin-bottom: 15px;
    font-size: 1.5em;
    text-align: center;
}

h3 {
    color: var(--celeste);
    margin-bottom: 10px;
    font-size: 1.1em;
}

.contenedor-datos h3 {
    display: inline-block;
    margin-right: 10px;
}

.contenedor-calcular {
    text-align: center;
    margin-bottom: 15px;
}




.datos-elementos {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.texto {
    width: 125px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.dosPuntos {
    width: 5px;
    height: 1005;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.input {
    width: 130px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}




input {
    width: 95px;
    border: none;
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(91,91,91,0.5);
    color: var(--blanco);
    text-align: center;
}

input:focus {
    outline: none;
}

i {
    margin-left: 5px;
    cursor: pointer;
    color: var(--celeste);
}

.calcular {
    width: 80%;
    background-color: var(--morado);
    padding: 5px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: var(--negro);
}

.tabla {
    margin-bottom: 15px;
    margin-left: 10%;
}

p, span {
    font-size: 1em;
}

footer {
    text-align: center;
    padding: 5px;
}



.info {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(32,32,32,0.5);
}

.cuadro {
    width: 280px;
    height: 500px;
    background-color: var(--negro);
    border-radius: 15px;
    padding: 10px;
    overflow: auto;
}

.cuadro div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

h4 {
    display: inline-block;
    color: #F3F579;
    font-size: 1em;
    
}

h5 {
    font-size: 0.9em;
}

.cuadro p {
    font-size: 0.9em;
}

.cuadro i {
    font-size: 1.3em;
}

.cuadro img {
    width: 100%;
    margin-bottom: 10px;
}

.resultados p, .datos p {
    margin-top: 18px;
    margin-bottom: 8px;
}











.cuadro::-webkit-scrollbar {
    -webkit-appearance: none;
}

.cuadro::-webkit-scrollbar:vertical {
    width:10px;
}

.cuadro::-webkit-scrollbar-button:increment,.cuadro::-webkit-scrollbar-button {
    display: none;
} 

.cuadro::-webkit-scrollbar:horizontal {
    height: 10px;
}

.cuadro::-webkit-scrollbar-thumb {
    background-color: var(--blanco);
    border-radius: 20px;
    border: 2px solid var(--negro);
}

.cuadro::-webkit-scrollbar-track {
    border-radius: 10px;  
}
